{% extends 'quotes/base.html' %} {% load extract %} {% block content %}
<h3>
  Viewing tag:
  <a href="/tag/{{tag_name}}">{{tag_name}}</a>
</h3>
<div class="row">
  <div class="col-md-8">
    {% for quote in quotes %}
    <div class="quote" itemscope="" itemtype="http://schema.org/CreativeWork">
      <span class="text" itemprop="text">{{quote.quote}}</span>
      <span
        >by
        <small class="author" itemprop="author"
          >{{ quote.author.fullname }}</small
        >
        <a href="/author/{{ quote.author.fullname }}">(about)</a>
      </span>

      <div class="tags">
        Tags: {% for tag in quote.tags.all %}
        <a class="tag" href="/tag/{{ tag.name }}">{{ tag.name }}</a>
        {% endfor %}
      </div>
    </div>
    {% endfor %}
    <nav>
      <ul class="pager"></ul>
    </nav>
  </div>
  <div class="col-md-4 tags-box">
    {% load custom_filters %}
    <h2>Top Ten tags</h2>
    {% for tag in top_tags %}
    <span class="tag-item">
      <a
        class="tag"
        style="font-size: {{ tag.tag_count|times:2 }}px"
        href="/tag/{{ tag }}"
        >{{ tag }}</a
      >
    </span>
    {% endfor %}
  </div>
</div>
{% endblock %}
